<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; GoKamp 2021</span>
        <!-- <span class="text-muted nav-link ml-2">  <a href="">Github</a></span> -->
     
    </div>
    
</footer>